body {
    margin: 0;
    padding: 0;
    background: #A6CEDA;
}

a {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style: none;
    margin-left: 40px;
}

.title1 {
    position: relative;
    width: 486px;
    height: 75px;
    left: 128px;
    top: 475px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #BC148D;
}

.title {
    position: relative;
    width: 349px;
    height: 75px;
    left: 950px;
    top: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #BC148D;
}

.input {
    position: relative;
    width: 407px;
    height: 44px;
    top: 154px;
    right: 0px;
    left: 900px;
}

.table1 {
    position: relative;
    background-color: aliceblue;
    width: 938px;
    right: 50px;
    left: 50px;
    padding: 15px;
}

.table {
    position: relative;
    background-color: aliceblue;
    width: 1214px;
    height: 57px;
    right: 50px;
    left: 50px;
}

thead {
    background: #28D6CB;
}

.container navbar {
    left: 50px;
    right: 50px;
}